# Ignore node_modules and build artifacts
node_modules
dist

# Ignore TypeScript source files (we'll copy compiled JS)
*.ts
*.tsx

# Ignore logs and environment files
.env
.env.*  # if you use multiple env files like .env.production
*.log

# Ignore git and Docker-related files
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# OS and IDE files
*.swp
*.DS_Store
.vscode
